* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
.page-wrapper {
  width: 100%;
  display: inline-block;
  margin-left: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 

{
  margin: 0;
}

p {
  margin: 0;
}


/*Menu css*/
.menu{
  display: flex;
    justify-content: space-around;
    color: whitesmoke;
    background-color: slategray;
}

.menu li{
  display: inline;
  border-bottom-style: solid;
}
/*Portfolio flex css*/
#Portfolio{
  display: flex;
  width: 100%;
  border: 1px solid red;
}

#WorkSkills{
  display:grid;
  border-right: 1px solid black;
  margin-right: 1%;
  width: 80px;
  text-align:center;
}

#Work.{
  display:flex;
  margin-right: 20px;
}

#skills.{
  margin-right: 30px;
}

/*Work & Skills flex css*/

#WorkSection{
  flex: 70%

}


#child2_parent1{
  display: flex;
}

#c2p1d1{
  border: 1px solid darkgreen;
  flex: 50%;
}

#c2p1d2{
  flex: 50%;
  border: 1px solid brown;
}


/*Main Heading  css*/
h1{
  text-align: center;
  height: 30px;
}
/*Mainbanneer css*/
  h2{
    text-align:left;
    height: 100;
    margin: 5px

}
/*AboutMe css*/

.page-section{
  border: 1px solid red
}
h3{
  height: 10px;
  margin: 10px;
  text-align: center;
}

/*Portfolio css*/
h4{
  background-color: lightslategrey;
  height: 400px;
  margin: 10px
}

/*Contact css*/
h5{
  padding: .5px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  justify-content: space-around;
  font-size:20px

}

/*Portfolio css*/
h6{
  background-color: lightslategrey;
  height: 10px;
  margin: -90px;
  font-size: 20px;
  justify-content: space-around;
  text-align: center;
}

p{
  font-size:14px;
  padding:1px;
}
.hero-banner{
  width:100%;
  height: 300px;
  background-image: url(../images/02-portfolio-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:repeat;
  display:flex;

}
/*Heroe Banner css*/

#Profilepic{
  flex: 20%;
  border-right: 1px solid black;
  background-image:url(../images/IMG_0038.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:repeat;
  display:flex;

}

#Content{
  flex: 80%;

}

/*ContactMe/Footeer css */
.footer h5 {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: darkgrey;
  justify-content: space-around;
  font size: 20px;
}

#Tel:hover{
  background-color: lightblue;
}

#Email:hover{
  background-color: lightblue;
}

#Github:hover{
  background-color: lightblue;
}

#LinkedIn:hover{
  background-color: lightblue;
  
}
.Contact{
  display: flex;
    justify-content: space-around;
    color: black;
}

.Contact li{
  display: inline;
  border-bottom-style: solid;
}